.row.no-gutter {
	margin-right:0;
	margin-left:0;

	> [class*='col-'] {
		padding-right:0;
		padding-left:0;
	}
}

img.full {
	display: block;
	height: auto;
	width: 100%;
}

.gold {
	color: $gold;
}

.embed-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}

@media (min-width: $screen-md) {
	.col-equalize {
		display: table;
		width: 100%;

		.col-td {
			float: none;
			display: table-cell;
			overflow: hidden;
			vertical-align: middle;
		}
	}	
}

@media (min-width: $screen-md) {
	.vcenter {
		@include flexbox();
		@include align-items(center);
		
		.no-flexbox & {
			display: block;
		}
	}
}