.row.no-gutter {
	margin-right:0;
	margin-left:0;

	> [class*='col-'] {
		padding-right:0;
		padding-left:0;
	}
}

img.full {
	display: block;
	height: auto;
	width: 100%;
}

@media (min-width: $screen-md) {
	.col-equalize {
		display: table;
		width: 100%;

		.col-td {
			float: none;
			display: table-cell;
			overflow: hidden;
			vertical-align: middle;
		}
	}	
}