.col 
{
	margin-bottom: 1em;
}

@media only screen and (min-width: $tablet) 
{	
	.columns.hasgutter
	{
		@include calc-columns-neg-gutter(1);
		
		.col
		{
			@include calc-col-gutter(1);
		}
	}
	
	.col
	{
		box-sizing: border-box;
		float: left;
		margin-bottom: 0;
		
		img
		{
			height: auto;
			max-width: 100%;
			width: auto;
		}
		
		img.full
		{
			@include full();
		}
		
		&-1 { @include calc-col-width(1); }
		&-2 { @include calc-col-width(2); }
		&-3 { @include calc-col-width(3); }
		&-4 { @include calc-col-width(4); }
		&-5 { @include calc-col-width(5); }
		&-6 { @include calc-col-width(6); }
		&-7 { @include calc-col-width(7); }
		&-8 { @include calc-col-width(8); }
		&-9 { @include calc-col-width(9); }
		&-10 { @include calc-col-width(10); }
		&-11 { @include calc-col-width(11); }
		&-12 { @include calc-col-width(12); clear: both; }
		
		&.space {
			&-1 { @include calc-col-space(1); }
			&-2 { @include calc-col-space(2); }
			&-3 { @include calc-col-space(3); }
			&-4 { @include calc-col-space(4); }
			&-5 { @include calc-col-space(5); }
			&-6 { @include calc-col-space(6); }
			&-7 { @include calc-col-space(7); }
			&-8 { @include calc-col-space(8); }
			&-9 { @include calc-col-space(9); }
			&-10 { @include calc-col-space(10); }
			&-11 { @include calc-col-space(11); }
			&-12 { @include calc-col-space(12); }			
		}	
	}

	.gutter
	{
		@include calc-col-gutter(1);
	}
	
	.gutter-bottom
	{
		@include calc-col-gutter(1, (bottom));
	}

	.gutter-top
	{
		@include calc-col-gutter(1, (top));
	}

	.gutter-right
	{
		@include calc-col-gutter(1, (right));
	}
	
	.gutter-all
	{
		@include calc-col-gutter(1, (left, top, right, bottom));
	}
		
	.spc-lft-25 {
		margin-left: 25vw;
	}

	.spc-lft-50 {
		margin-left: 50vw;
	}

	.spc-lft-75 {
		margin-left: 75vw;
	}
		
	.spc-top-25 {
		margin-top: 25vw;
	}

	.spc-top-50 {
		margin-top: 50vw;
	}
	
	.spc-top-75 {
		margin-top: 75vw;
	}

	.spc-top-neg25 {
		margin-top: -25vw;
	}

	.spc-top-neg50 {
		margin-top: -50vw;
	}
	
	.spc-top-75 {
		margin-top: -75vw;
	}
		
	.clr-none {
		clear: none;
	}
	
	.clr-left {
		clear: left;
	}
	
	.clr-right {
		clear: right;
	}
	
	.clr-both {
		clear: both;
	}

	.col-equalize {
		display: table;
		width: 100%;
	}
	
	.col-equalize .col
	{
		float: none;
		display: table-cell;
		overflow: hidden;
		vertical-align: middle;
	}
	
}