#header
{
}

#header h1,
#header #logo
{
	float: left;
	margin: 0;
}

#header h1 #logo
{
	float: none;
}

#header #logo
{
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}