@mixin zerolist() {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin rem($pixels: 16, $property: 'font-size') {
	$base: (16 * ($font-size-base / 100%));
	#{$property}: $pixels + px;
	#{$property}: ($pixels / $base) + rem;
}