@mixin calc-col-width($span) {
	$percol: ((100 / $grid-columns) * 0.01);
	width: percentage($percol * $span);
	
	@if $span == $grid-columns {
		float: none;
	}
}

@mixin calc-col-space($span) {
	$percol: ((100 / $grid-columns) * 0.01);
	margin-left: percentage($percol * $span);
}

@mixin calc-col-gutter($gutter: 1, $position: (left)) {
	@each $pos in $position {
		padding-#{$pos}: ($gutter * $grid-gutter) + px;
	}
}

@mixin calc-columns-neg-gutter($gutter: 1) {
	margin-left: ($gutter * $grid-gutter * -1) + px;
}

@mixin css3-prefix($property, $value) {
	-webkit-#{$property}: #{$value};
	-khtml-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}

@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
	@include css3-prefix('transform', rotate($deg + deg));
	filter: progid:DXImageTransform.Microsoft.Matrix(
	M11=#{$m11}, M12=#{$m12}, M21=#{$m21}, M22=#{$m22}, sizingMethod='auto expand');
	zoom: 1;
}

@mixin transition($properties...) {
	@if length($properties) >= 1 {
		@include css3-prefix('transition', $properties);
	}
	@else {
		@include css3-prefix('transition', $what: all, $length: 1s, $easing: ease-in-out);
	}
}

@mixin opacity($opacity: 0.5) {
	$opacityMultiplied: ($opacity * 100);
	filter: alpha(opacity=$opacityMultiplied);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacityMultiplied + ")";
	@include css3-prefix('opacity', $opacity);
}


@mixin bg-gradient-diag($startColor: #3C3C3C, $endColor: #999999) {
	background: $startColor;
	background: -moz-linear-gradient(-45deg,  $startColor 0%, $endColor 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$startColor), color-stop(100%,$endColor));
	background: -webkit-linear-gradient(-45deg,  $startColor 0%,$endColor 100%);
	background: -o-linear-gradient(-45deg,  $startColor 0%,$endColor 100%);
	background: -ms-linear-gradient(-45deg,  $startColor 0%,$endColor 100%);
	background: linear-gradient(135deg,  $startColor 0%,$endColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$startColor}', endColorstr='#{$endColor}',GradientType=1 );	
}

@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999, $colorstop: false) {
	
	@if $colorstop == false {	
		background: $startColor;
		background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
		background: -webkit-linear-gradient(top, $startColor, $endColor);
		background:    -moz-linear-gradient(top, $startColor, $endColor);
		background:     -ms-linear-gradient(top, $startColor, $endColor);
		background:      -o-linear-gradient(top, $startColor, $endColor);
		background:         linear-gradient(top, $startColor, $endColor);
	} @else {
		
		background: $startColor; /* Old browsers */
		background: -moz-linear-gradient(top,  $startColor 0%, $startColor $colorstop, $endColor 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColor), color-stop($colorstop,$startColor), color-stop(100%,$endColor)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  $startColor 0%,$startColor $colorstop,$endColor 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  $startColor 0%,$startColor $colorstop,$endColor 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  $startColor 0%,$startColor $colorstop,$endColor 100%); /* IE10+ */
		background: linear-gradient(to bottom,  $startColor 0%,$startColor $colorstop,$endColor 100%); /* W3C */
	}
	
}

@mixin zerolist() {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin body-font-size() {
	font-size: (16 * ($base-font-size / 100%)) + px;
	font-size: 1rem;	
}

@mixin rem($pixels: 16, $property: 'font-size') {
	$base: (16 * ($base-font-size / 100%));
	#{$property}: $pixels + px;
	#{$property}: ($pixels / $base) + rem;
}

@mixin font-italic() {
	font-style:italic;
}

@mixin font-bold() {
	font-weight:bold;
}

@mixin full() {
	display: block;
	height: auto;
	position: relative;
	z-index: 0;
	width: 100%;
}

@mixin hidetext() {
	display: inline-block;
	overflow: hidden;
	outline: none;
	text-align: left;
	text-indent: 101%;
	white-space: nowrap;
}