#mobmenu 
{
	cursor: pointer; 
	display: block;
	float: right;
	padding: 20px 15px 20px 25px; 
	width: 25px;
	
	span,
	span:before,
	span:after {
		@include transition(all 500ms ease-in-out);
		cursor: pointer;
		border-radius: 1px;
		height: 3px;
		width: 35px;
		background: $link-color;
		position: absolute;
		display: block;
		content: '';
	}

	span {
		text-indent: -999em;
		
		&:before {
			top: -8px; 			
		}
		
		&:after {
			bottom: -8px;			
		}
	}
	
	&.active {
		span {
			background-color: transparent;
			
			&:before,
			&:after {
				top: 0;
			}
			
			&:before {
				@include rotate(45);
			}
			
			&:after {
				@include rotate(-45);
			}
		}
	}		
}

.nav-container {
	ul, li {
		@include zerolist();
	}
	
	a {
		text-decoration: none;
	}
}

#main-nav-container
{
	background: $link-color;
	height: 0px;
	left: 0;
	line-height: 1;
	overflow: hidden;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 99;
	
	@include transition(height 0.3s linear);
	
	&.open {
		height: auto;
	}
	
	.menu {
		li {
			border-bottom: 1px solid $gray-light;
			position: relative;			
		}
		
		a {
			background: $link-color;
			color: #fff;
			display: block;
			padding: 10px;
			text-decoration: none;			
		}
	}
	
	.sub-menu {
		a {
			background: $gray-dark;
			padding-left: 20px;			
		}
	}
}

@media only screen and (min-width: $screen-md-min) 
{
	#mobmenu
	{
		display: none;
	}
	
	.nav-container li
	{
		float: left;
	}

	#main-nav
	{
		float: left;
	}

	#main-nav-container
	{
		background: transparent;
		display: block;
		float: right;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
		
		.menu {
			li {
				border-bottom: none;
				display: inline;
				margin-left: 15px;
			}
			
			a {
				background: transparent;
				color: $link-color;
				display: inline;
				padding: 0;	
				
				&:hover {
					color: $link-hover-color;
				}			
			}
		}
	}
}