/* fonts and colors */
$black: #000;
$darkergray: #222;
$darkgray: #4A4A4A;
$medgray: #666;
$ninegray: #999;
$lightgray: #ddd;
$lightergray: #eee;
$lightestgray: #f0f0f0;
$white: #fff;
$orange: #f97f1a;

$background: $white;
$base-font-size: 87.5%;
$base-line-height: 1.5;
$font-stack: Helvetica, Arial, sans-serif;
$font-stack-headline: $font-stack;
$text-color: $darkgray;

$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$anchor-font-color: $orange;
$anchor-font-color-hover: scale-color($anchor-font-color, $lightness: -14%);

$grid-columns: 12;
$grid-gutter: 36; // PIXELS

/* 
Breakpoints 
Be sure to also update main.js with new sizes if you change desktop or tablet.
*/
$tablet: 768px;
$desktop: 960px;
$wide: 1150px;
$wider: 1452px;
$widest: 1920px;