html { font-size: 100%; }

h1 { @include rem($font-size-h1 / 1px); }
h2 { @include rem($font-size-h2 / 1px); }
h3 { @include rem($font-size-h3 / 1px); }
h4 { @include rem($font-size-h4 / 1px); }
h5 { @include rem($font-size-h5 / 1px); }
h6 { @include rem($font-size-h6 / 1px); }

h1,h2,h3,h4,h5,h6 { 
	margin-top: 0;
	margin-bottom: 0.5em;	
}


p { 
	margin-top: 0; 
	margin-bottom: 1.5em; 
}