// Add custom colors or override bootstrap variables here.
// This way you don't have to dig into the massive bootstrap file, unless you prefer.

// Grid
$grid-columns: 24;
//$grid-gutter-width: 30px;

// Fonts
//$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//$font-family-serif: serif;

//$headings-font-family: $font-family-serif;
//$headings-font-weight: 400;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.625;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2.25;
$h4-font-size: $font-size-base * 1.875;
$h5-font-size: $font-size-base * 1.625;
$h6-font-size: $font-size-base * 1.25;

$font-size-sm: $font-size-base * 0.8125;
$h1-font-size-sm: $font-size-sm * 2.46;
$h2-font-size-sm: $font-size-sm * 2.15;
$h3-font-size-sm: $font-size-sm * 2;
$h4-font-size-sm: $font-size-sm * 1.846;
$h5-font-size-sm: $font-size-sm * 1.38;
$h6-font-size-sm: $font-size-sm * 1.25;

$paragraph-margin-bottom: 1.5em;

// Colors
//$primary:
//$secondary:
//$success:
//$info:
//$warning:
//$danger:

// Misc
$speed: 250ms;
$ease: ease-in-out;
