.widgets,
.widget-container
{
	@include zerolist();
}

.widget-container
{
	border: 1px solid $gray-600;
	padding: 14px 11px;
	margin-bottom: 24px;
	
	ul, li {
		@include zerolist();
	}
	
	li {
		margin-bottom: 10px;
	}
	
	.widget-title {
		margin-bottom: 14px;
	}
}