.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0;
	}

	.wp-caption-text {
		color: $gray-600;
		font-style: italic;
	}
}

.sticky {
	display: block;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

.gallery-caption {
	color: $gray-600;
	display: block;
}

.bypostauthor {
	display: block;
}

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}