body {
	font-size: $font-size-sm;
	@include media-breakpoint-up(md) {
		font-size: $font-size-base;
	}
}

a.skipnav {
	font-size: rem-calc(11);
	display: block;
	padding: 5px 20px;
	color: $gray-600;
}

.container-wide {
	@extend .container;
	@include media-breakpoint-up(lg) {
		max-width: 1400px;
	}
}

.container-narrow {
	@extend .container;
	@include media-breakpoint-up(lg) {
		max-width: 768px;
	}
}

.container-sm-none {
	@include media-breakpoint-down(sm) {
		padding-left: 0;
		padding-right: 0;
		max-width: none;
	}
}

.container-md-none {
	@include media-breakpoint-down(md) {
		padding-left: 0;
		padding-right: 0;
		max-width: none;
	}
}

/*
Type 
*/
@if not $enable-responsive-font-sizes {
	h1,
	.h1 {
		font-size: $h1-font-size-sm;
		@include media-breakpoint-up(md) {
			font-size: $h1-font-size;
		}
	}

	h2,
	.h2 {
		font-size: $h2-font-size-sm;
		@include media-breakpoint-up(md) {
			font-size: $h2-font-size;
		}
	}

	h3,
	.h3 {
		font-size: $h3-font-size-sm;
		@include media-breakpoint-up(md) {
			font-size: $h3-font-size;
		}
	}

	h4,
	.h4 {
		font-size: $h4-font-size-sm;
		@include media-breakpoint-up(md) {
			font-size: $h4-font-size;
		}
	}

	h5,
	.h5 {
		font-size: $h5-font-size-sm;
		@include media-breakpoint-up(md) {
			font-size: $h5-font-size;
		}
	}

	h6,
	.h6 {
		font-size: $h6-font-size-sm;
		@include media-breakpoint-up(md) {
			font-size: $h6-font-size;
		}
	}
}

strong,
b {
	@include font-bold();
}

em,
i {
	@include font-italic();
}

blockquote {
	margin-bottom: 0;
	padding-top: 10px;
	padding-left: 34px;
	position: relative;

	@include media-breakpoint-up(lg) {
		padding-right: 80px;
		padding-left: 80px;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&:before {
		display: inline-block;
		position: absolute;
		font-size: rem-calc(75);
		line-height: 1;
		content: "\201C";
		left: 0;
		top: -0.15em;

		@include media-breakpoint-up(lg) {
			left: 0;
			font-size: rem-calc(155);
		}
	}

	cite {
		font-style: italic;
	}
}

/*
Add default bottom margin to columns.
Remove that bottom margin if column is changed at different breakpoints.
Add class 'has-btm-margin' to maintain a bottom margin on elements.
*/
.col {
	margin-bottom: $grid-gutter-width;

	&[class*="col-sm-"]:not(.has-btm-margin) {
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
		}
	}

	&[class*="col-md-"]:not(.has-btm-margin) {
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}

	&[class*="col-lg-"]:not(.has-btm-margin) {
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}

	&[class*="col-xl-"]:not(.has-btm-margin) {
		@include media-breakpoint-up(xl) {
			margin-bottom: 0;
		}
	}

	> img,
	> p > img,
	> a > img {
		height: auto;
		max-width: 100%;
		width: auto;
	}
}

/*
	Buttons
*/
.btn {
	transition: color $speed $ease, background-color $speed $ease,
		opacity $speed $ease, border-color $speed $ease, box-shadow $speed $ease,
		transform $speed $ease;
}

.btn-link,
button.btn-link,
input[type="submit"].btn-link,
a.btn-link {
	background: none;
	border: none;
	border-bottom: 2px solid $primary;
	border-radius: 0;
	font-weight: $btn-font-weight;
	padding: 0;
	text-decoration: none;

	&:active,
	&:focus,
	&:hover {
		background: none;
		text-decoration: none;
	}
}

.btn-group {
	flex-wrap: wrap;
	justify-content: space-between;

	> .btn {
		margin-bottom: 10px;
		width: 100%;

		@include media-breakpoint-up(md) {
			margin-right: 10px;
			width: auto;

			&:last-child {
				margin-right: 0;
			}
		}

		&:not(:last-child),
		&:not(:last-child):not(.dropdown-toggle),
		&:not(:first-child) {
			border-radius: $btn-border-radius;

			&.btn-lg {
				border-radius: $btn-border-radius-lg;
			}

			&.btn-sm {
				border-radius: $btn-border-radius-sm;
			}
		}
	}
}

/* 
	Search Form
*/
.search-form {
	input[type="text"],
	input[type="search"] {
		border: 1px solid $gray-300;
	}
	input[type="submit"],
	button {
		@extend .btn;
		@extend .btn-primary;
	}
}

/*
	Social Icons
*/
ul.social {
	@include zerolist();

	li {
		@include zerolist();
		display: inline-block;

		+ li {
			margin-left: $grid-gutter-width / 2;
		}

		span {
			margin-left: 7px;
		}
	}
}
