/*
	Sticky Header
	Note that "scrolled" class is applied via javascript.
*/

//Fallback rules for for no position:sticky; (IE11, mostly)
#site-header {
	position: fixed;
}
#site-main {
	/*
		Header height will vary at different viewports.
		These numbers will also be inaccurate if logo changes, in many cases.
	*/
	padding-top: 70px;
	@include media-breakpoint-up(lg) {
		padding-top: 90px;
	}
}

// Default behavior
@supports (position: sticky) {
	#site-header {
		position: sticky;
	}
	#site-main {
		padding-top: 0;
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		}
	}
}
