/*
	Configure colors in both _variables.scss and theme-functions.php (bt_editor_add_theme_support())
*/
.has-primary-color {
	color: $primary;
}
.has-secondary-color {
	color: $secondary;
}
.has-success-color {
	color: $success;
}
.has-info-color {
	color: $info;
}
.has-warning-color {
	color: $warning;
}
.has-danger-color {
	color: $danger;
}
.has-gray-100-color {
	color: $gray-100;
}
.has-gray-200-color {
	color: $gray-200;
}
.has-gray-300-color {
	color: $gray-300;
}
.has-gray-400-color {
	color: $gray-400;
}
.has-gray-500-color {
	color: $gray-500;
}
.has-gray-600-color {
	color: $gray-600;
}
.has-gray-700-color {
	color: $gray-700;
}
.has-gray-800-color {
	color: $gray-800;
}
.has-gray-900-color {
	color: $gray-900;
}
.has-primary-background-color {
	background-color: $primary;
}
.has-secondary-background-color {
	background-color: $secondary;
}
.has-success-background-color {
	background-color: $success;
}
.has-info-background-color {
	background-color: $info;
}
.has-warning-background-color {
	background-color: $warning;
}
.has-danger-background-color {
	background-color: $danger;
}
.has-gray-100-background-color {
	background-color: $gray-100;
}
.has-gray-200-background-color {
	background-color: $gray-200;
}
.has-gray-300-background-color {
	background-color: $gray-300;
}
.has-gray-400-background-color {
	background-color: $gray-400;
}
.has-gray-500-background-color {
	background-color: $gray-500;
}
.has-gray-600-background-color {
	background-color: $gray-600;
}
.has-gray-700-background-color {
	background-color: $gray-700;
}
.has-gray-800-background-color {
	background-color: $gray-800;
}
.has-gray-900-background-color {
	background-color: $gray-900;
}
